#profile-info
  .user-header.flex-container
    %h1
      #{@beekeeper.username}'s profile
      -if authorized? @beekeeper
        %p.edit-profile-link
          = surround '(', ')' do
            %a{href: "/beekeepers/#{@beekeeper.username}/edit"} edit
    .beekeeper-details
      %ul
        %li #{@beekeeper.experience.capitalize} beekeeper
        %li Located in #{@beekeeper.location.capitalize}
%hr.divider
.hive-container
  %h1
    Hives
    -if authorized? @beekeeper
      %p.add-hive-link
        = surround '(', ')' do
          %a{href: "/beekeepers/#{@beekeeper.username}/hives/new"} add to apiary
  -if @beekeeper.hives.count == 0
    %p No hive friends T_T
  -else
    = list_of(@beekeeper.hives, { class: "hive-link" }) do |hive|
      %a{ href: "/beekeepers/#{hive.beekeeper.username}/hives/#{hive.name}" }
        = hive.name
